h1,h2,h3,h4,h5{
    font-family: 'Blinker', sans-serif;
}

p,a{
    font-family: 'Lato', sans-serif;
}

.pnt-customNav p, a{
    color: #7f7f7f;
}

.pnt-customNav .navbar-brand, .navbar-toggler{ 
    font-weight: 600;
}

.pnt-customNav p{
    margin: 0;
    padding: 20px;
    border: solid 1px #7f7f7f69;
    border-radius: 5px;
    color: #7f7f7f;
}

.pnt-background{
    background-color: #b84d45;
    background-image: url("../img/bg.png");
    padding: 40px;
}

.pnt-background h3{
    color: #ffffff;
    font-size: 3.5em;
}

.pnt-background p{
    color: #d6a5a2;
    font-size: 1.7em;
}

.breadcrumb{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
}

.breadcrumb:first-child a {
    color: #c34d45;
}

.pnt-form form button{
    background-color: #b84d45;
    color: #ffffff;
    margin-top: 20px;
}

.pnt-clientesHeader{
    margin-top: 40px;
}

.pnt-clientesHeader h3{
    font-size: 32px;
    font-weight: 300;
}

.pnt-clientesHeader p{
    font-size: 20px;
    padding: 0;
}

.pnt-clientes .card{
    margin-bottom: 20px;
}

.pnt-clientes .card-body{
    padding-top: 10px;
    padding-left: 0px;
}

.pnt-clientes img{
    width: 46px;
    border-radius: 5px;
    margin: 5px 15px;
}

.pnt-clientes h5{
    display: inline-block;
    margin: 0;
}

.pnt-clientes p{
    padding-left: 0px;
}

.pnt-puntosLista ul{
    list-style-type: none;
    padding: 0;
}

.pnt-puntosLista ul li{
    display: inline-block;
}

.pnt-puntos{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 15px;
    display: inline-block;
}

.pnt-punto1 {
    background-color: #1da1f2;
}

.pnt-punto2{
    background-color: #3b5998;
}

.pnt-punto3 {
    background-color: #b84d45;
}

.pnt-footer p{
    margin: 50px 0px;
    padding: 0;
}

.pnt-btnAgregarEntrevista{
    margin-bottom: 8px;
}

.pnt-footer a{
    color: #c34d45;
}